body {
  background-color: wheat;
}

#url-file-container {
  margin: 10px 0px 30px 0px;
}
#url-file-container input{
 float:left;
 width:240px;
 height:20px;
 padding:2px 0px 2px 10px;
 border-right: none;
 outline:none;
}

#url-file-container button{
  float: left;
  width: 45px;
  height: 28px;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor:zoom-in;
  outline:none;
  }

#url-file-container button:hover{
  background-color:#b6b8bf;
  }

#container {
  /*   position: absolute;
  left: calc(50% - 200px); */
  display: flex;
  margin-top: 100px;
  border: 2px solid green;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#form-file {
  /* position: absolute; */
  /*   left: calc(50% - 200px);
  border-style: solid;
  height: 200px;
  width: 300px;
  /* display: flex; */
  height: 300px;
  width: 220px;
}

#input-file {
  position: relative;
  top: -23px;
  left: -4px;
  height: inherit;
  width: inherit;
  opacity: 0;
}

#image-container {
  position: relative;
  height: inherit;
  width: inherit;
  top: -333px;
  left: -4px;
  z-index: -1;
  border:3px dashed white;
}

#image-file {
  height: inherit;
  width: inherit;
  z-index: -1;
}

#label-file {
  position: relative;
  /*   left:calc((225.99px - 138.33px)/2); */
  top: calc((305.99px - 22.31px) / 2);
}

@keyframes large-size-warn {
  0% {
    font-size: 16px;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 16px;
  }
}

#size-warn {
  margin: auto;
}

#pred-result {
  margin: auto;
  display:flex;
}

#pred-result span{
  position:absolute;
  width:40px;
  height:20px;
  background-color:white;
}



@keyframes loading {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

#loading-spinner {
  position:relative;
  top:-45px;
  margin-bottom:-45px;
  width: 40px;
  height: 40px;
  opacity: 0;
}
#loading-spinner:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: auto;
  box-sizing: border-box;
  border: 16px solid white;
  border-color: white transparent white transparent;
  animation: loading 2s infinite;
}
